.navbar {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

  .navbar-brand {
    font-size: 2.0rem;
  }
  
.btn-wrapper {
    display: flex;
    justify-content: center;
}

.nav-item{
  font-size: 20px;
}

.centeredX {
  position: relative;
  top: 99%;
  left: 50%;
  transform: translate(-50%, -1%);
}

.startPageImage {display: inline-block; max-width: 800px; max-height: 800px;}

.startPageImage img {max-width: 100%; height:auto;}

.custom-bg-col {
  background-color: rgba(45, 105, 194, 0.24);
}
